Data types and structures theory questions

1. What are data structures, and why are they important
- Data structures are fundamental building blocks in computer science that define how data is organized and stored for efficient access and retrieval. They are essential for writing efficient code, improving performance, and managing complex data sets.

2.   Explain the difference between mutable and immutable data types with examples
- Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set

- Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples

3. What are the main differences between lists and tuples in Python3
- Lists: are mutable, meaning their elements can be changed, added, or removed after creation.
-Tuples: are immutable, meaning their elements cannot be changed after creation.

4.  Describe how dictionaries store data
- With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to. "Brand", "Model" and "Year" are the keys, while "Hyundai", "Palisade" and "2020" are the values.

5. Why might you use a set instead of a list in Python
-When you need to store only unique elements.

-When you don't need to maintain the order of elements.

-When you need to perform fast membership tests.

-When you need to perform mathematical set operations.

-When you need to remove duplicate elements from a list.

 -sets are more efficient for operations that require uniqueness, fast lookups, and set operations. Lists are more suitable when you need to maintain the order of elements and allow duplicates.

 6. What is a string in Python, and how is it different from a list

 - 1 - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [ ].

 - 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

 7.  How do tuples ensure data integrity in Python
 - Tuples provide data integrity because they are immutable. Once initialized, their values cannot be modified accidentally, ensuring critical configuration data remains unchanged during program execution.

 8. What is a hash table, and how does it relate to dictionaries in Python
 - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array of "buckets" or "slots," where the value is stored. This allows for efficient lookups, insertions, and deletions of data.

- In Python, dictionaries are implemented using hash tables. When you insert a key-value pair into a dictionary, Python calculates the hash value of the key and uses it to determine the index where the value should be stored. This is why dictionary keys must be hashable (immutable) objects, like integers, strings, and tuples.

9. Can lists contain different data types in Python
- Yes, lists in Python can contain different data types. This is one of the key features that makes them versatile. A single list can hold integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.

10. Explain why strings are immutable in Python
- Strings in Python are immutable to ensure consistency, performance, and safety. Since strings are often used as dictionary keys or set elements, immutability guarantees their hash values remain constant and avoids issues with modifying data that is being referenced elsewhere. This allows Python to optimize memory usage through string interning, where common strings are shared across the program.

11.  What advantages do dictionaries offer over lists for certain tasks
- Dictionaries and lists are two fundamental data structures in Python, each with its unique strengths and weaknesses. Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12. Describe a scenario where using a tuple would be preferable over a list
- Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values because they are designed to store only unique elements. When you try to add a duplicate item to a set, Python simply ignores it, ensuring that each element in the set appears only once. This behavior is due to the underlying hashing mechanism that allows quick lookup of items—if the hash of an element already exists in the set, it won't be added again. This makes sets ideal for situations where you need to store unique items, but if duplicates are encountered, they won't be retained.

14.  How does the “in” keyword work differently for lists and dictionaries?
- In Python, the in keyword works differently for lists and dictionaries: for lists, it checks if a value is present within the list, iterating over all the elements to find a match; for dictionaries, it checks if a key exists in the dictionary, not the value. When used with a list, in returns True if the specified element is found, while for dictionaries, it only checks the keys, not the associated values. This distinction makes in more efficient in dictionaries, as it directly checks for keys, leveraging the hash table structure for faster lookups.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures, meaning their contents cannot be changed, added to, or removed from once they are defined. This immutability ensures that the data within a tuple remains consistent and predictable throughout its lifetime.

16.  What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary where the values themselves can be dictionaries. This allows you to represent more complex hierarchical data structures. Each key in the outer dictionary can map to another dictionary, enabling the storage of related data under each key in a structured way.

Consider a scenario where you need to store information about multiple students, including their grades and contact information.
A nested dictionary would allow you to organize this data efficiently.
'''

students = {
    "John": {
        "age": 18,
        "grades": {"math": 90, "english": 85},
        "contact": {"email": "john@example.com", "phone": "123-456-7890"}
    },
    "Alice": {
        "age": 19,
        "grades": {"math": 92, "english": 88},
        "contact": {"email": "alice@example.com", "phone": "987-654-3210"}
    }
}

17. Describe the time complexity of accessing elements in a dictionary?
- Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key. In the worst-case scenario, where a hash function causes many collisions, the time complexity can degrade to O(n), where n is the number of elements in the dictionary.

18. In what situations are lists preferred over dictionaries?
- For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because they do not guarantee any specific order of the keys. This is because dictionaries are implemented using a hash table, where the keys are hashed to determine their location in memory, and the ordering is not based on the order of insertion. However, starting from Python 3.7, dictionaries preserve insertion order in practice, meaning the order in which items are added is maintained, but this is an implementation detail, not a language guarantee. Despite this, the key aspect is that dictionaries are not designed to be ordered; they prioritize efficient data retrieval (constant-time average lookup complexity O(1)) over maintaining a predictable order, which makes accessing values by key very fast, but you cannot rely on the keys being in any specific order unless explicitly sorted.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
- In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

practical questions

In [1]:
## 1. Write a code to create a string with your name and print it

# Create a string with your name
my_name = "habibah"

# Print the string
print(my_name)

habibah

In [2]:
## 2. Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length) # Output: 11

11

In [3]:
## 3. Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [4]:
## 4. Write a code to convert the string "hello" to uppercase

string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [5]:
## 6. Write a code to create a list with numbers 1 to 5 and print it

r1 = 0
r2 = 10

li = list(range(r1,r2))
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
## 7.

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [7]:
## 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [8]:
## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

# Create a tuple with elements 100, 200, and 300
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

In [12]:
## 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [14]:
## 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [15]:
## 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [16]:
## 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits_tuple = ("apple", 'banana', "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [17]:
## 16. . Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}90
print(my_set)

{'b', 'a', 'c'}

In [18]:
## 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()

In [22]:
## 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [23]:
## 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
## 20. . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [30]:
## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "habibah",
    "age": 20,
    "city": "kolkata"
}

In [46]:
## 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'john', 'age': 30}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'john', 'age': 30, 'country': 'USA'}

In [32]:
## 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

alice

In [33]:
## 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_name = {'name': 'bob', 'age': 20, 'city': 'kolkata'}
my_name.pop('age')
my_name

{'name': 'bob', 'city': 'kolkata'}

In [34]:
## 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict = {'name': 'alice', 'city': 'paris'}
city_exists = 'city' in my_dict
print(city_exists)

True

In [35]:
## 26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = ({'name': 'alice', 'city': 'paris'})
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'alice', 'city': 'paris'}

In [44]:
## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)\

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[33, 61, 78, 91, 95]

In [39]:
## 28. Write a code to create a list with strings and print the element at the third index

my_list = ['apple', 'banana', 'orange', 'grape', 'kiwi']
third_element = my_list[2]
print(third_element)

orange

In [43]:
## 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
## 30. Write a code to convert a list of strings into a set

my_list = ['apple', 'orange', 'banana', 'grape', 'kiwi']
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'grape', 'kiwi', 'orange'}